@import '../../components/cssUtils.scss';

#home{
    padding-top: 45px;
    color: $white;
    position: relative;
    .intro{
        overflow-x: hidden;
        position: relative;
        &-video{
            width: 146%;
            margin: 0 auto;
            pointer-events: none;
        }
        &-logo{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 10%;
            width: 70%;
        }
        &-txt{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 21%;
            width: 89%;
            font-size: 20px;
            text-align: center;
            font-weight: bolder;
        }
        &-button{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 75%;
        }
    }
    #WeAreValorant{
        margin-bottom: 70px; /*do not keep this line*/
        position: relative;
        color: #111111;
        padding: 0 5%;
        font-weight: bold;
        .heading{
            margin-top: 0;
            padding-top: 80px;
            font-size: 30px;
            font-weight: 1000;
        }
        .stripeD{
            position: absolute;
            background-color: $dark;
            content: '';
            width: 80%;
            height: .3px;
            top: 6%;
        }
        .description{
            font-size: 16px;
            color: #999999;
            line-height: 27px;
            padding-right: 60px;
        }
        .subdescription{
            font-size: 16px;
            color: $gray2;
        }
        .video{
            position: relative;
            &-image{
                width: 100%;
            }
            &-accent{
                position: absolute;
                background-color: #FF4655;
                content: '';
                width: 21%;
                height: 3px;
                bottom: 1px;
                border-bottom-right-radius: 7%;
            }
            &-play{
                position: absolute;
                width: 75px;
                height: 75px;
                // background-color: black;
                border: 1px $white solid;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}