@import '../../components/cssUtils.scss';

#home{
    padding-top: 45px;
    color: $white;
    position: relative;
    .intro{
        overflow-x: hidden;
        position: relative;
        &-video{
            width: 146%;
            margin: 0 auto;
            pointer-events: none;
        }
        &-logo{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 10%;
            width: 70%;
        }
        &-txt{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 21%;
            width: 89%;
            font-size: 20px;
            text-align: center;
            font-weight: bolder;
        }
        &-button{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 75%;
        }
    }
    #WeAreValorant{
        position: relative;
        color: #111111;
        padding: 0 5%;
        font-weight: bold;
        padding-bottom: 70px; 
        .heading{
            margin-top: 0;
            padding-top: 80px;
            font-size: 30px;
            font-weight: 1000;
        }
        .stripeD{
            position: absolute;
            background-color: $dark;
            content: '';
            width: 80%;
            height: .3px;
            top: 5%;
        }
        .description{
            font-size: 16px;
            color: #999999;
            line-height: 27px;
            padding-right: 60px;
        }
        .subdescription{
            font-size: 16px;
            color: $gray2;
        }
        .video{
            position: relative;
            &-image{
                width: 100%;
            }
            &-accent{
                position: absolute;
                background-color: #FF4655;
                content: '';
                width: 21%;
                height: 3px;
                bottom: 1px;
                border-bottom-right-radius: 7%;
            }
            &-play{
                position: absolute;
                width: 75px;
                height: 75px;
                // background-color: black;
                border: 1px $white solid;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    #TheAgents{
        overflow: hidden;
        position: relative;
        padding: 0 5%;
        background-color: $red;
        .stripeHorizontal{
            position: absolute;
            background-color: $white;
            content: '';
            width: 90%;
            height: .3px;
            display: block;
            top: 11%;
        }
        .stripeV{
            position: absolute;
            background-color: $white;
            content: '';
            height: 100%;
            width: .3px;
            z-index: 1000;
        }
        .head{
            font-size: 2.3em;
            font-weight: bolder;
            padding-top: 66px;
        }
        .subHead{
            font-size: 1.3em;
            font-weight: bolder;
        }
        .details{
            font-size: 1.1em;
            font-weight: bold;
            line-height: 24px;
        }
        .video{
            width: 234%;
            margin: 0 auto;
            pointer-events: none;
            padding-left: -15px;
            transform: translateX(-32%);
        }
        .button{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 80%;
        }
    }
    #theMaps{
        position: relative;
        color: $dark;
        padding: 0 5%;
        .stripeHorizontal{
            position: absolute;
            background-color: $dark;
            content: '';
            width: 90%;
            height: .3px;
            display: block;
            top: 6%;
        }
        .stripeV{
            position: absolute;
            background-color: $dark;
            content: '';
            height: 100%;
            width: .3px;
            z-index: 1000;
        }
        .head{
            padding-top: 11%;
            font-size: 2.5em;
            margin-top: 0;
        }
        .subHead{
            font-size: 1.4em;
            font-weight: bold;
        }
        .details{
            color: $gray2;
            font-weight: bold;
        }
        .image{
            width: 178%;
            margin-left: -46%;
        }
        .button{
            position: absolute;
            top: 83%;
            left: 50%;
            transform: translate(-50%);
        }
    }
}